.loginsignup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-container {
    width: 400px;
    height: 500px;
    background: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginsignup-container h1 {
    margin: 20px 0;
    text-align: center;
}

.loginsignup-fields {
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 5px;
}

.loginsignup-container button {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.loginsignup-login {
    margin-top: 20px;
    text-align: center;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-agree input {
    margin-right: 10px;
}